:host {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  background: white;
  min-height: 150px;
  overflow: hidden;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
  font-size: 24px;
  flex-wrap: wrap;
}
.title {
  font-size: 20px;
}

button {
  border-radius: 5px;
  font-size: 15px;
  margin-left: 5px;
}
.ag-grid-angular {
  background-color: darkslategray;
}
select {
  width: 100px;
}

option {
  font-size: 15px;
}
