<div>
  <span class="title">Выбор товара:</span>


  <ag-grid-angular
    #agGrid
    style="width: 620px; height: 200px"
    class="ag-theme-balham"
    [rowData]="rowData"
    [enableFilter]="true"
    [columnDefs]="columnDefs"
    (cellClicked)="addProduct(rowData)"
    [enableSorting]="true"
    rowSelection="multiple"
  >
  </ag-grid-angular>
</div>

<select (change)="onChange($event.target.value)" [ngStyle]="{'background-color':selectedColor}">
  <option *ngFor="let color of colors" [value]="color.value" [ngStyle]="{'background-color':color.value}">{{color.name}}</option>
</select>

<div>
  <button type="button" class="btn btn-success" (click)="addProduct()">ОК</button>



  <button type="button" class="btn btn-dark" (click)="closed.next()">Закрыть</button>
</div>





